# Development files
.git
.github
.eslintrc.js
.gitignore
.npmrc
jsdoc.json
*.log

# Tests
tests/
coverage/
jest.config.js

# Examples
examples/

# Documentation
docs/

# Misc
.DS_Store
.env
.env.example
.env.test
.vscode/
node_modules/
*.tgz

# Build and CI
.travis.yml
.github/
.circleci/ 